:root {
  box-sizing: border-box;
  --main-color: rgb(0, 0, 0); /* Переменная черного цвета */
  --main-color-light: #dcd4d1; /* Переменная бежевого цвета */
  --logo-color-white: white; /* Переменная белого цвета */
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  background-color:rgb(0, 0, 0);
}
h1,h2,h3 {
  font-size: 2rem;
  padding: 1%;
  background-color:rgb(255, 255, 255);
  text-align: center;
  margin:0% 15% 0% 15%;
}
ol li {
  color: rgba(255, 255, 255, 0.855);
  font-size: 1.5rem;
  margin-left: 20%;
  list-style-type: none;
}