:root {
  box-sizing: border-box;
  --main-color: rgb(0, 0, 0); /* Переменная черного цвета */
  --logo-color-white: white; /* Переменная белого цвета */
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  background-color:var(--main-color)
}
h1,h2,h3 {
  font-size: 2rem;
  padding: 1%;
  background-color:var(--logo-color-white);
  text-align: center;
  margin:0% 15% 0% 15%;
}
ul{
  list-style-type: none;
  }
#list1 {
  margin: 0% 70% 0% 20%;
}
#list2 {
margin: 0% 0% 0% 20%;
display: flex;
gap:2%;
}
#list1 li a {
color:var(--logo-color-white);
font-size: 1.5rem;
}
#list2 li a {
  font-size: 1rem;
  color:var(--logo-color-white)
}